<div id="search_results">
  <table id="special_guests">
    <thead>
      <tr>
        <th>ID</th>
        <th>Forname</th>
        <th>Name</th>
        <th>UID</th>
        <th>Group</th>
	      <th>Checked in?</th>
        <th>Add to cart</th>
        <th>Upgrade</th>
      </tr>
    </thead>
    <tbody>
    <% (@results || []).each do |special_guest| %>
      <tr class="<%= cycle( "uneven", "even") %>">
        <td><%= special_guest.id %></td>
        <td><%= special_guest.forename %></td>
        <td><%= special_guest.name %></td>
        <td><%= special_guest.uid %></td>
        <td><%= special_guest.group.name %></td>
        <td>
	        <% if special_guest.checked_in %>
           ✔
          <% else %>
           ✘
          <% end %>
	      </td>
        <%= render :partial => 'special_guests/reservation', :collection => special_guest.reservations %>
       </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>