<h1>SpecialGuests</h1>

<p><%= link_to 'Add new Special Guest', new_special_guest_path %></p>

<p><%= text_field_tag :search_term %></p>

<script>
  live_admin_search.init( '#search_term')
</script>

<p><%= will_paginate @transactions %></p>

<table class="overview" id="special_guests">
  <thead>
    <tr>
      <th>Group</th>
      <th>Forename</th>
      <th>Name</th>
      <th>UID</th>
      <th>Ticket / Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => @special_guests %>
  </tbody>
</table>

<p><%= will_paginate @transactions %></p>