<h1>Base Tickets</h1>

<p>
  <%= link_to "Create new ticket type", new_ticket_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Custom?</th>
      <th>Presale?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="tickets">
    <%= render :partial => @base_tickets %>
  </tbody>
</table>

<%= sortable_element "tickets",
  :url => {:action => "sort"},
  :complete => visual_effect(:highlight, "ticket_list"),
  :tag => "tr",
  :handle => "move"
%>


<h1>Custom Tickets</h1>

<p>
  <%= link_to "Create new ticket type", new_ticket_path %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Custom?</th>
      <th>Presale?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody id="tickets">
    <%= render :partial => @custom_tickets %>
  </tbody>
</table>

<%= sortable_element "tickets",
  :url => {:action => "sort"},
  :complete => visual_effect(:highlight, "ticket_list"),
  :tag => "tr",
  :handle => "move"
%>
